
body{
    margin: 0px;
    background-image: url(https://images8.alphacoders.com/736/736059.png);
    background-attachment: fixed;
    background-size: cover;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 190px);
    justify-content: center;
    gap: 10px;
    row-gap: 10px;
}
.custom-card {
    min-width: 190px !important;
    max-width: 190px;
    min-height: 200px !important;
    max-height: 300px;
    margin: auto;
    background-color: rgba(0,0,0,0.3) !important;
}
.img-wrapper {
    width: 128px;
    min-height: 160px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.img-sprite{
    max-width: 128px;
    max-height: 160px;
    width: auto;
    height: auto;
    display: block;
}
.steven{
    color: rgb(255,178,162) !important;
    text-decoration: none;
}
.steven:hover {
    text-decoration: underline;
}
.ruby{
    color: rgb(228,74,96) !important;
    text-decoration: none;
}
.ruby:hover {
    text-decoration: underline;
}
.sapphire{
    color: rgb(105,144,237) !important;
    text-decoration: none;
}
.sapphire:hover {
    text-decoration: underline;
}
.garnet{
    color: rgb(178,75,94) !important;
    text-decoration: none;
}
.garnet:hover {
    text-decoration: underline;
}
.no-hover {
    text-decoration: none !important;
}